{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}
{% block body_block %}

<br>
<br>
<br>
<br><br>

<div class="jumbotron">
    <h1 class="display-3">Video Uploader</h1>
    <hr class="my-2">
    <form enctype="multipart/form-data" method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Upload" />
    </form>
</div>





{% load static %}
<script>'undefined' === typeof _trfq || (window._trfq = []); 'undefined' === typeof _trfd && (window._trfd = []), _trfd.push({ 'tccl.baseHost': 'secureserver.net' }), _trfd.push({ 'ap': 'cpsh' }, { 'server': 'p3plcpnl0769' }) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>


{% endblock %}